<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @key.username %>
</p>

<p>
  <strong>Content:</strong>
  <%= @key.content %>
</p>

<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
